<h1>Member List :</h1>
<button type="button">Add Member</button>
<br><br>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Salary</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Detail</th>
    </tr>
    <tr>
        <td>Shailja</td>
        <td>Daksh</td>
        <td>1cr</td>
        <td><a href="#">Edit</a></td>
        <td><a href="#">Delete</a></td>
        <td><a href="#">Detail</a></td>
    </tr>
    <tr>
        <td>Shiv</td>
        <td>Shankar</td>
        <td>2cr</td>
        <td><a href="#">Edit</a></td>
        <td><a href="#">Delete</a></td>
        <td><a href="#">Detail</a></td>
    </tr>
</table>